{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>About Me</h1>
  </div>
  <p>My name is William Horobin and I am a senior Computer Information Systems Major. I am from Wallingford, Connecticut. I live with my two parents, and I have a sister who lives in Kentucky. I am from Wallingford, CT and that is where I presently reside. I went to high school at Mark T. Sheehan High School, where I graduated from in 2011. I played baseball for my four years at the school. After high school, I attended Stonehill College in pursuit of playing college baseball. I spent two years at Stonehill before transferring to Quinnipiac University. I currently work at Club 24 in Wallingford while attending Quinnipiac.</p>
  <img src="{% static 'jpg/family.jpg' %}" alt="My Family"/>
  <p>Pictured above is me and my family</p>
  <img src="{% static 'gif/tyrion.gif' %}" alt="My Family"/><p>Finally Done!</p>
</div>
{% endblock %}