{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Bill's Personal Website!</h1>
    <p>The best way to contact Bill</p>
    <p><a href="{% url 'contact_create' %}" class="btn btn-lg btn-primary">Contact Me</a></p>
  </div>
  <img src="{% static 'gif/Frank.gif' %}" alt="My Family"/>
  <p>You have succesfully reached the personal website of William Horobin. Feel free to use the Contact Me form in order to get in touch with me.</p>
  <p>Feel free to look at my About Me in order to learn some more information about my life thus far.</p>
  <p>Go G-Men!</p>
</div>
{% endblock %}